@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
    z-index: -1;
  }
  
/* Track */
::-webkit-scrollbar-track {
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #d8d8d8;
opacity: 10px;
border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb:hover{
background: #c9c9c9;
opacity: 10px;
border-radius: 10px;
}

.farbe {
    background-color: transparent;
}

.rec.rec-arrow {
    background-color: #0B1014;
    color: #eeeeee;
}
    
.rec.rec-arrow:hover {
    background-color: #393b3f;
}
    
.rec.rec-arrow:disabled {
    visibility: hidden;
}
      
    
.rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 1px lightgrey;
    background-color: #eaeaea;
}

.custom-strike {
    position: relative;
    display: inline-block;
  }

.custom-strike::after {
  content: '';
  position: absolute;
  left: -15%;
  right: -15%;
  top: 69%;
  border-top: 4px solid #ec4eca; /* Cambia el color y grosor aquí */
  transform: scaleX(0); /* Inicia la línea invisible */
  transform-origin: left;
  z-index: 1;
  transition: transform 3s cubic-bezier(0.25, 1, 0.5, 1); /* Animación más suave */
  rotate: -0.5deg;
}
.custom-strike.active::after {
  transform: scaleX(1); /* Cuando esté activo, la línea se dibuja completamente */
}

.custom-strike-sections {
    position: relative;
    display: inline-block;
}

.custom-strike-sections::after {
  content: '';
  position: absolute;
  left: -8%;
  right: -8%;
  top: 69%;
  border-top: 2px solid #ec4eca; /* Cambia el color y grosor aquí */
  transform: scaleX(0); /* Inicia la línea invisible */
  transform-origin: left;
  z-index: 1;
  transition: transform 3s cubic-bezier(0.25, 1, 0.5, 1); /* Animación más suave */
  rotate: -0.5deg;
}

.custom-strike-sections.active::after {
  transform: scaleX(1); /* Cuando esté activo, la línea se dibuja completamente */
}


.custom-strike-about {
  position: relative;
  display: inline-block;
}

.custom-strike-about::after {
  content: '';
  position: absolute;
  left: -15%;
  right: -15%;
  top: 69%;
  border-top: 4px solid #3ec70f; /* Cambia el color y grosor aquí */
  transform: translateY(-75%) rotate(-1.5deg);
  transition: transform 3s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 1;
}

.filter-pink {
  filter: brightness(0.8) sepia(1) saturate(4) hue-rotate(-50deg);
}

@keyframes slide {
  0% {
      transform: translateX(0); /* Comienza en la posición original */
  }
  100% {
      transform: translateX(-100%); /* Termina fuera de la pantalla a la izquierda */
  }
}

.marquee {
  display: flex;
  width: 100%; /* Ocupa todo el ancho del contenedor */
  overflow: hidden; /* Oculta el contenido que se desborda */
}

.marquee-content {
  display: flex; /* Flexbox para alinear los logos horizontalmente */
  animation: slide 5s linear infinite; /* Ajusta la duración según sea necesario */
}

.logo {
  margin-right: 50px; /* Espaciado entre logos */
  width: 200px; /* Ajusta según sea necesario */
  height: auto;
}

